{% extends "base.html" %} {% load static %} {% load customtags %} {% comment %}
{% endcomment %} {% block content %}

<style>
  style="list-style: none;
  padding-left: 0;
  text-align: center;
</style>

<article style="margin: 0 auto;">

  <div class="d-flex justify-content-center text-center">
    <h1 style="margin: 2rem">Your account - Welcome @{{ user }} !</h1>
  </div>

  {% comment %} membership board {% endcomment %}
  <section class="d-flex justify-content-center text-align: center">
    <div class="card m-2 p-2 shadow p-3 mb-5 bg-body rounded">
      <a
        class="card-img-top"
        href="https://www.youtube.com/user/MrBean"
        target="_blank"
        style="
          margin: auto;
          width: 150px;
          height: 150px;
          border-radius: 50%;
          overflow: hidden;
        "
      >
        <img src="{{ user_profile.avatar.url }}" style="max-height: 4rem;"/>
      </a>

      <div class="card-body">
        <h2>Links to:</h2>
        <lu style="list-style: none; padding-left: 0; text-align: center">
          <li>
            <a href="{% url 'image_app:form-upload-img' %} " target="_blank">
              Add new picture </a
            >- Upload form
          </li>
        </lu>
      </div>
    </div>
    <div class="card m-2 p-2 shadow p-3 mb-5 bg-body rounded">
      <h3>Avidable membership plans:</h3>

      <ul style="list-style: none; padding-left: 0; text-align: center">
        {% for tier in tiers %}
        <li class="list-group-item">
          <h5>{{tier}}  <span style="color: darkred;"><b> {% if user_profile.tier == tier %} - Your subscription{% endif %}</b> </span></h5>

      
          {% if tier == user_profile.tier %}
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Avidable Thumbnail sizes:</li>

                {% for mini in tier.mini_size.all %}
                <li class="list-group-item m-0 p-0" style="scale: 88%; ">{{mini}}px</li>
                {% endfor %}

              </ul class="list-group list-group-flush">
            </li>            
            
            {% if tier.ability_to_generate_expiring_links%}
            <li class="list-group-item">
              Ability to generate custom size thumbnail
            </li>
            {% endif %}  


            {% if tier.presence_link_to_org_file %}
            <li class="list-group-item">
              Ability to generate link to orginal image
            </li>
            {% endif %}

            {% if tier.ability_to_generate_expiring_links %}
            <li class="list-group-item">
              Ability to generate expiring link              
            </li>
            {% endif %}

          </ul>
          {% endif %} {% endfor %}
        </li>
      </ul>
    </div>
  </section>


  {% comment %} PICTURES GALLERY {% endcomment %}

  <section>

    <div class="text-center">
      <h3>Your Gallery:</h3>
      <p>(You have {% total_img user %} images in.)</p>
    </div>

    <div class="container">
      <div class="d-flex flex-wrap p-1 justify-content-center ">
      
        {% for img in img_sended_by_user %}
                
            <div class="card shadow m-2 bg-body rounded hover-efect" 
                 style="width: 17rem; height: 36rem;">

              <div class="card-top-cover-img ">
                <a 
                href="{% url 'image_app:image_detail' pk=img.id %}"
                target="_blank">

                <img
                    class="card-img-top "
                    src="{{img.image_file.url}}"
                    alt="Card image cap" 
                />

                </a>
              </div>    

              <div class="card-body">
                <h5 class="card-title">{{ img.title }}</h5>
                <p class="card-text">{{ img.published_at }}</p>
                <p class="card-text">{{ img.short_description|truncatewords:17 }}</p>

                <ul class="list-group list-group-flush">

                  {% for tier in tiers %}
                 
                    {% if tier == user_profile.tier %}
                    
                      {% for mini in tier.mini_size.all %}

                      <a href="{% url 'image_app:generate-thumbnail' image_id=img.pk th_width=mini.width th_height=mini.height  %}" 
                      class="btn btn-primary m-1" 
                      target="_blank">{{mini}}px</a>
                      {% endfor %}

                      
                      {% if tier.presence_link_to_org_file %}
                      <a href="{% url 'image_app:image_detail' pk=img.pk %}" 
                      class="btn btn-primary m-1"
                      target="_blank">Orginal IMG</a>
                      {% endif %}
                    

                      {% if tier.ability_to_generate_expiring_links %}
                      <a href="{% url 'image_app:generate-exp-link' image_id=img.pk th_time=3000  %}"  class="btn btn-primary m-1">Temporary Link</a> 
                      {% endif %}

                    {% endif %}
                  
                  {% endfor %}

                  <div class="col">
                    <a href="{% url 'image_app:image_update' pk=img.pk %}" class="btn btn-danger m-1">UPDATE</a>
                    <a href="{% url 'image_app:image_delete' pk=img.pk %}" class="btn btn-danger m-1">DELETE</a>
                  </div>

                </ul>

              </div>

            </div>

        {% endfor %}
      
    </div>
  </section>
</article>

{% endblock %}
