{% extends "base.html" %} {% load static %} {% load customtags %} {% comment %}
{% endcomment %} {% block content %}

<style>
  style="list-style: none;
  padding-left: 0;
  text-align: center;
</style>

<article style="margin: 0 auto; text-align: center">
  <h1 style="margin: 2rem">Your account - Welcome @{{ user }} !</h1>
  <h2></h2>
  <section class="d-flex justify-content-center">
    <div class="card m-2 p-2 shadow p-3 mb-5 bg-body rounded">
      <a
        class="card-img-top"
        href="https://www.youtube.com/user/MrBean"
        target="_blank"
        style="
          margin: auto;
          width: 150px;
          height: 150px;
          border-radius: 50%;
          overflow: hidden;
        "
      >
        <img src="{{ user_profile.avatar.url }}" />
      </a>

      <div class="card-body">
        <h2>Links to:</h2>
        <lu style="list-style: none; padding-left: 0; text-align: center">
          <li>
            <a href="{% url 'image_app:form-upload-img' %} " target="_blank">
              Add new picture </a
            >- Upload form
          </li>
        </lu>
      </div>
    </div>
    <div class="card m-2 p-2 shadow p-3 mb-5 bg-body rounded">
      <h3>Avidable membership levels:</h3>

      <ul style="list-style: none; padding-left: 0; text-align: center">
        {% for tier in tiers %}
        <li>
          <p>Tier: {{tier}}</p>
          {% if user_profile.tier == tier %}
          <h4 style="margin-top: 1rem">
            <span style="color: darkred">- Your level</span>
          </h4>
          {% if tier == user_profile.tier %}
          <ul>
            <li>Miniatury: {{tier.mini_size}}</li>
            <li>Orginal image link: {{tier.presence_link_to_org_file}}</li>
            <li>
              Generate expiring link:
              {{tier.ability_to_generate_expiring_links}}
            </li>
          </ul>
          {% endif %} {% endif %} {% endfor %}
        </li>
      </ul>
    </div>
  </section>

  <section>
    <h3>Your Gallery:</h3>

    <p>(You have {% total_img user %} images in.)</p>

    <div class="container">
      <div class="d-flex flex-wrap">
        {% for img in img_sended_by_user %}
        <div class="col">
          <div class="card shadow mb-5 bg-body rounded" style="width: 17rem">
            <img
              class="card-img-top"
              src="{{img.image_file.url}}"
              alt="Card image cap"
            />
            <h5 class="card-title">{{ img.title }}</h5>
            <p class="card-text">{{ img.published_at }}</p>
            <p class="card-text">{{ img.short_description }}</p>
            <ul class="list-group list-group-flush">
              {% for tier in tiers %}
              <a />
              {% if tier == user_profile.tier %}
              <a />
              {%for mini in tier.mini_size.all%}

              <a href="#" class="btn btn-primary m-1"
                >{{mini.height}}x{{mini.width}}</a
              >

              {% endfor %}
              <a />
              {% if tier.presence_link_to_org_file %}
              <a href="#" class="btn btn-primary m-1">Orginal IMG</a>
              {% endif %}
              <a />
              {% if tier.ability_to_generate_expiring_links %}
              <a href="#" class="btn btn-primary m-1">Temporary Link</a>
              {% endif %}
              <a />
              {% endif %}
              <a />
              {% endfor %}
              <div class="col">
                <a href="#" class="btn btn-danger m-1">EDIT</a>
                <a href="#" class="btn btn-danger m-1">DELETE</a>
              </div>
            </ul>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</article>

{% endblock %}
