{% extends "base.html" %} {% load static %} {% load customtags %} {% comment %}
{% endcomment %} {% block content %}

<div class="container">
  <div class="d-flex m-1 justify-content-center">
    <h3>YOUR PROFILE - {{user}}</h3>
  </div>

  <div class="d-flex m-1 justify-content-center">
    <div class="card m-1 shadow">
      <h1 class="card-title"></h1>
      <img
        style="max-height: 22rem; max-width: 33rem;"
        class="card-img"
        src="{{ user_profile.avatar.url }}"
        alt="{{ imagemodel.title }}"
      />
    </div>

    {% if user_profile.about_me %}
    <div class="card m-1 p-3 shadow" style="max-width: 50%;">
      <h5 class="card-text">About me: </h5>
      <p class="card-text">{{ user_profile.about_me }}</p>
    </div>
    {% endif %}
  </div>

  <div class="d-flex m-2 justify-content-center">
    <div class="card m-1 shadow">
      <ul class="list-group list-group-flush">

        <li class="list-group-item">
          <p class="card-title">Current subscription plan:</p>
          <h5 class="card-title">{{ user_profile.tier }}</h5>
        </li>

        <li class="list-group-item">
          <p class="card-title">First Name:</p>
          <h5 class="card-title">{{ user.first_name }}</h5>
        </li>

        <li class="list-group-item">
          <p class="card-title">Last Name:</p>
          <h5 class="card-title">{{ user.last_name }}</h5>
        </li>

        <li class="list-group-item">
          <p class="card-title">Points scored:</p>
          <h5 class="card-title">{{ user_profile.points }}</h5>
        </li>

        <li class="list-group-item">
          <p class="card-title">Email:</p>
          <h5 class="card-title">{{ user.email }}</h5>
        </li> 

      </ul>
    </div>

    {% comment %} form {% endcomment %}

    <div class="card m-3 p-3 shadow">
      <form method="post" action="">
        {% csrf_token %} {{ form.as_p }} {% comment %}
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="form-group">
              <img
                class=""
                src="{{ user_profile.avatar.url }}"
                alt="{{ imagemodel.title }}"
                style="max-height: 1rem"
              />
              <br />
              <label for="{{ form.title.id_for_label }}">Avatar:</label>
              {{ form.avatar }} {{ form.avatar.errors }}
            </div>
            LI1
          </li>

          <li class="list-group-item">
            <div class="form-group">
              <h5 class="card-title">Upgrade tier:</h5>
              <label for="{{ form.description.id_for_label.id }}"></label>
              {{ form.tier }} {{ form.tier.errors }}
            </div>
            LI2
          </li>
          <li class="list-group-item"></li>
        </ul>
        {% endcomment %}

        <button class="btn btn-danger" type="submit">Save changes</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
