{% extends "base.html" %} {% load static %} 
{% load thumbnail %} 
{% load customtags %} 

{% block content %}

<article class="container">
  {% comment %} <a href="{{ image_instance.image_file.url }}">
    <img
      src="{% thumbnail image_instance.image_file 400x0 quality=100 %}"
      alt="{{ image_instance.title }}"
  /></a> {% endcomment %}

  <section class="d-flex flex-wrap m-3">
    <div class="col">
      <div class="card m-3">
        <img
          class="card-img-top"
          src="{{ image_instance.image_file.url }}"
          alt="{{ image_instance.title }}"
        />
      </div>
    </div>

    <div class="col m-2">
      <div class="card m-1">
        <h5 class="card-title m-2">
          Your subscribed plan: {{ user_profile.tier }}
        </h5>
      </div>

      <div class="card m-1">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h4 class="card-title m-1">
              {{ image_instance.title }}

              <span class="card-text">
                - {% if image_instance.private %} Private
                <span> </span>
                {% else %} Published {% endif %}
              </span>
              <span> by {{image_instance.user}}</span>
            </h4>
          </li>
          <li class="list-group-item">
            <p class="card-text m-1">
              Added at: {{ image_instance.uploaded_at }}, Updated at:
              {{image_instance.updated_date }}
            </p>
          </li>
          <li class="list-group-item">
            <h5 class="card-title m-1">
              {{ image_instance.short_description }}
            </h5>
          </li>

          <li class="list-group-item">

            {% comment %} LIKE HANDLE {% endcomment %}

            <div class="like-handle">

              <p>
                {% for like in image_instance.users_likes.all|slice:":5" %}
                  <span>                  
                    {{ like.username }}
                    {% if not forloop.last %},{% endif %}                 
                  </span>
                {% endfor %} 
                likes it 
              </p>


              {% with total_likes=image_instance.users_likes.count users_like=image_instance.users_likes.all %}           
        
                <h3>
                  <span class="count">
                    <span class="total">{{ total_likes }}</span>
                    <span> likes</span>
                  </span>                
                  <a
                    href="#"
                    data-id="{{ image_instance.id }}"
                    data-action="{% if request.user in users_like %}not{% endif %}like"
                    class="like button btn btn-outline-danger p-2"
                  >
                    {% if request.user not in users_like %}
                    like
                    {% else %}
                    not like
                    {% endif %}
                  </a>
                </h3>
                             
              {% endwith %}

            </div>
          </li>

        </ul>

        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex">

            {% comment %}--------- AVIDABLE MINI SIZE -------- {% endcomment %}

            {% for mini in user_profile.tier.mini_size.all %}

            <a
              href="{% url 'image_app:generate-thumbnail' image_id=image_instance.pk th_width=mini.width th_height=mini.height %}"
              class="btn btn-outline-primary m-1"
              >{{mini}}</a
            >

            {% endfor %}
            <a></a>
            {% if user_profile.ability_to_generate_custom_size_mini %}
            <a href="#" class="btn btn-outline-primary m-1">Custom size mini</a>
            {% endif %}
          </li>
          
          {% if image_instance.user == user %}
          <li class="list-group-item">
            <a
              href="{% url 'image_app:image_detail' pk=image_instance.id %}"
              class="btn btn-outline-primary m-1"
              >Orginal IMG</a
            >

            {% if user_profile.ability_to_generate_expiring_links %}
            <a href="#" class="btn btn-outline-primary m-1">Temporary Link</a>
            {% endif %}
          </li>

          <li class="list-group-item">
            <a href="#" class="btn btn-outline-primary m-1">
              {% if image_instance.private %} Change to public
              <span> </span>
              {% else %} Change to private {% endif %}
            </a>
            <a
              href="{% url 'image_app:image_update' pk=image_instance.pk %}"
              class="btn btn-outline-primary m-1"
              >Update</a
            >

            <a
              href="{% url 'image_app:image_delete' pk=image_instance.pk %}"
              class="btn btn-outline-primary m-1"
              >Delete</a
            >
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </section>

  {% comment %} Comment area {% endcomment %}

  {% comment %} Comment FORM {% endcomment %}

  <section class="d-flex flex-wrap m-3">
    <div class="col">
      <div class="m-1">
        <h5>Add comment</h5>
        <div class="comment-form">
          <form method="post">
            {% csrf_token %} {{ comment_form.as_p }}
            <a></a>
            {% for field in form %} {{ field.label_tag }}: {{ field.value }}
            <a></a>
            {% endfor %}
            <a></a>
            <button class="btn btn-success" type="submit">
              Submit Comment
            </button>
          </form>
        </div>
      </div>
    </div>
    {% comment %} COMMENTS LIST {% endcomment %}
    <div class="col m-1">
      <div class="m-1">
        <h5>Comments :</h5>

        {% for comment in image_comments %}

        <div class="card p-1 m-1">
          <h5>{{comment.user}}</h5>
          <p class="card-text">
            {{comment.published_at}}, {{comment.updated_at}},
          </p>
          <p class="card-text">{{comment.text}}</p>

          {% if comment.user == user or image_instance.user == user %}
          <form
            method="post"
            action="{% url 'image_app:image_detail' pk=image_instance.id %}"
          >
            {% csrf_token %}
            <input type="hidden" name="comment_id" value="{{ comment.id }}" />
            <button type="submit" class="btn btn-danger">Delete Comment</button>
          </form>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</article>

{% endblock %}

{% block domready %}

  const url='{% url 'image_app:like' %}';
  var options = {
    method: 'POST',
    headers: {'X-CSRFToken': csrftoken},
    mode: 'same-origin'
  }

  document.querySelector('a.like').addEventListener('click', function(e) { 
    e.preventDefault();
    var likeButton = this;

    var formData = new FormData();
    formData.append('id', likeButton.dataset.id);
    formData.append('action', likeButton.dataset.action);
    options['body'] = formData;

    fetch(url, options)
    .then(response => response.json())
    .then(data => {
        if (data['status'] === 'ok') 
        {
          var previousAction = likeButton.dataset.action;

          var action = previousAction === 'like' ? 'no like' : 'like';
          likeButton.dataset.action = action;
          likeButton.innerHTML = action;

          var likeCount = document.querySelector('span.count .total');
          var totalLikes = parseInt(likeCount.innerHTML);
          likeCount.innerHTML = previousAction === 'like' ? totalLikes + 1 : totalLikes - 1;   

    }
  })
});

{% endblock %}
