{% extends "base.html" %} {% load static %} {% load customtags %} {% comment %}
{% endcomment %} {% block content %}

<article class="container">
  <section class="d-flex flex-wrap m-3">
    <div class="col">
      <div class="card m-3">
        <img
          class="card-img-top"
          src="{{ image_instance.image_file.url }}"
          alt="{{ image_instance.title }}"
        />
      </div>
    </div>

    <div class="col m-2">
      <div class="card m-1">
        <h5 class="card-title m-2">Subscribed plan: {{ user_profile.tier }}</h5>
      </div>

      <div class="card m-1">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h4 class="card-title m-1">
              {{ image_instance.title }}

              <span class="card-text">
                - {% if image_instance.private %} Private
                <span> </span>
                {% else %} Public {% endif %}
              </span>
            </h4>
          </li>
          <li class="list-group-item">
            <p class="card-text m-1">
              Added at: {{ image_instance.uploaded_at }}, Updated at:
              {{image_instance.updated_date }}
            </p>
          </li>
          <li class="list-group-item">
            <h5 class="card-title m-1">
              {{ image_instance.short_description }}
            </h5>
          </li>
        </ul>

        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex">
            {% for mini in user_profile.tier.mini_size.all %}
            <a href="#" class="btn btn-primary m-1"
              >{{mini.height}}x{{mini.width}}</a
            >
            {% endfor %}<a href="#" class="btn btn-primary m-1"
              >Custom size mini</a
            >
          </li>

          <li class="list-group-item">
            <a href="#" class="btn btn-primary m-1">Orginal IMG</a>
            <a href="#" class="btn btn-primary m-1">Temporary Link</a>
          </li>
          <li class="list-group-item">
            <a href="#" class="btn btn-primary m-1">
              {% if image_instance.private %} Change to public
              <span> </span>
              {% else %} Change to private {% endif %}
            </a>
            <a
              href="{% url 'image_app:image_update' pk=image_instance.pk %}"
              class="btn btn-primary m-1"
              >Update</a
            >

            <a
              href="{% url 'image_app:image_delete' pk=image_instance.pk %}"
              class="btn btn-primary m-1"
              >Delete</a
            >
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="d-flex flex-wrap m-3">
    <div class="col">
      <div class="m-1">
        <h5>Add comment</h5>
        <div class="card p-1 m-1"></div>
      </div>
    </div>

    <div class="col m-1">
      <div class="m-1">
        <h5>Comments :</h5>

        {% for comment in image_comments %}

        <div class="card p-1 m-1">
          <h5>{{comment.user}}</h5>
          <p class="card-text">
            {{comment.published_at}}, {{comment.updated_at}},
          </p>
          <p class="card-text">{{comment.text}}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</article>

{% endblock %}
