{% extends "base.html" %} {% load static %} 
{% load customtags %} 

{% block content %}

<section class="contianer">
  <div class="d-flex flex-wrap justify-content-center">
    <div class="card bg-dark text-light shadow mb-3 px-5 rounded mt-3">
      <h1 class="card-title p-3"> Welcome to the 
      <img src="{% static 'images/logo.png' %}" alt="logo" style="max-height: 4.4rem"/> 's best FANS website!</h1>
    </div>
  </div>
</section>


<section class="contianer dark bg-dark ">
    <div class="row justify-content-center"> 

    <div class="card m-2">
      <h2 class="card-title text-center p-1" style="">Subscription plans</h2> 
    </div>

        {% comment %} Tiers crads {% endcomment %}
    <div class="d-flex flex-wrap justify-content-center">   

        {% for tier in tiers %}
        
        <div class="card border-warning shadow bg-light rounded m-3 hover-efect" 
        style="width: 20rem; height: 33rem;">        
          <h2 class="card-title card-header p-3 text-center">{{tier.name}}</h2>  

          {% if tier.mini_size %}
          <h5 class="text-center pt-3 px-4">Generate thumbnails in sizes:</h5> 
     
          {% for mini in minis %}

          {% if mini in tier.mini_size.all  %}
          <p class="card-title mt-0 mb-0 text-center">{{mini}}px<p/>
          {% endif %}     

          {% endfor %}

          {% endif %}
    

          {% if tier.presence_link_to_org_file %}
          <h5 class="text-center mt-1">Share your screenshots with your friends in the original size.</h5>
          {% endif %}       

          {% if tier.ability_to_generate_expiring_links %}
          <h5 class="text-center mt-1">Generate expiring links for your posts.</h5>
          {% endif %}

          {% if tier.ability_to_generate_custom_size_mini %}
          <h5 class="text-center mt-1">Generate thumbnails in <span>custom</span> sizes</h5>           
          {% endif %}

          <div class="mt-auto card-footer text-center mb-2">
            <button class="btn btn-danger mb-2">JOIN</button>  

            {% if tier.price > 0 %}
            <h2 class="text-center "><span>{{tier.price}}$</span> /mnth</h2>     
            
            {% else %}
            <h2 class="text-center">FREE</h2>    
            {% endif %}
          </div>
        </div>
        
        {% endfor %}

        
    </div>

     <div class="card m-2">
      <h1 class="card-title text-center p-1" style="">Join us and share the joy... and the beans 🤩</h1> 
    </div>

  </div>
</section>

{% comment %} Gallery {% endcomment %}
<section class="contianer">

  <div class="d-flex flex-wrap justify-content-center ">
  
    {% for img in image_list %}

    <div 
      class ="card shadow mb-5 bg-body rounded m-2 hover-efect"
      style="width: 17rem; height: 28rem;">

      {% comment %} card top {% endcomment %}
      <div class="card-top-cover-img"> 
        
        {% if user.is_authenticated %}      
        <a href="{% url 'image_app:image_detail' pk=img.id %}" 
          ><img
            class="img-fluid card-img-top "
            src="{{img.image_file.url}}"
            alt="Card image cap" 
        />      
        </a>
        {% else %}      
        <img
          class="img-fluid card-img-top  " 
          src="{{img.image_file.url}}"
          alt="Card image cap"
        />      
        {% endif %}
        
      </div>

      {% comment %} card body {% endcomment %}
      <div class="mt-auto " >

        <div class="card-body">
          <h5 class="card-title">{{img.title}}</h5>
          <div class="card-text">{{img.short_description|truncatewords:13}}</div>
        </div>

        {% comment %} Like handle{% endcomment %}

        <div class="mt-auto card-footer ">        
          <div class="like-handle">        
            
            {% with total_likes=img.users_likes.count users_like=img.users_likes.all %}
              
                <a
                  href="#"
                  data-id="{{ img.id }}"
                  data-action="{% if request.user in users_like %}not{% endif %}like"
                  class="like button btn btn-outline-danger p-2"
                >
                  {% if request.user not in users_like %}
                  like
                  {% else %}
                  not like
                  {% endif %}
                </a>

                <span class="count">
                  <span class="total">{{ total_likes }}</span>
                  <span> likes </span>
                  <p>
                  {% with one=img.users_likes.all|slice:":2" %}
                    {% for o in one %}
                      <b>{{ o }}</b>
                      {% if not forloop.last %},{% endif %}                    
                    {% endfor %}

                    {% if img.users_likes.count in 1 or 2 %}
                    like it!
                    {% endif %}

                    {% if img.users_likes.count > 2 %}
                    and others like it!
                    {% endif %}
                   
                  {% endwith %}
                  </p>
                </span>
                            
            {% endwith %}         

          </div>
        </div>
        
      </div>

    </div>

    {% endfor %}

  </div>

{% comment %} Pginator {% endcomment %}
    <nav 
    aria-label="Page navigation example"
    class="pagination container d-flex justify-content-center">

      <ul class="pagination">

        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link link-danger link-underline-light" href="?page=1">&laquo; first</a>
          </li>
          <li class="page-item">
            <a class="page-link link-danger link-underline-light" href="?page={{ page_obj.previous_page_number }}">Previous</a>
          </li>
        {% endif %}

        <li class="page-item disabled ">
          <span class="current page-link"> Page {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}.</span>
        </li>        

        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link link-danger link-underline-light" href="?page={{ page_obj.next_page_number }}">Next</a>
          </li>
          <li class=" btnpage-item">
            <a class="page-link link-danger link-underline-light" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          </li>
        {% endif %}

      </ul>

    </nav>   

</section>

{% endblock %}


{% block domready %}

  const url='{% url 'image_app:like' %}';
  var options = {
    method: 'POST',
    headers: {'X-CSRFToken': csrftoken},
    mode: 'same-origin'
  }

  document.querySelector('a.like').addEventListener('click', function(e) { 
    e.preventDefault();
    var likeButton = this;

    var formData = new FormData();
    formData.append('id', likeButton.dataset.id);
    formData.append('action', likeButton.dataset.action);
    options['body'] = formData;

    console.log(formData)

    fetch(url, options)
    .then(response => response.json())
    .then(data => {
        if (data['status'] === 'ok') 
        {
          var previousAction = likeButton.dataset.action;

          var action = previousAction === 'like' ? 'no like' : 'like';
          likeButton.dataset.action = action;
          likeButton.innerHTML = action;

          console.log(action)

          var likeCount = document.querySelector('span.count .total');
          var totalLikes = parseInt(likeCount.innerHTML);
          likeCount.innerHTML = previousAction === 'like' ? totalLikes + 1 : totalLikes - 1;   

    }
  })
});

{% endblock %}